# Node modules
node_modules

# Logs
logs
*.log

# Environment variables
.env

# Docker files
.dockerignore
Dockerfile

# Git
.git
.gitignore

# Temporary files and directories
tmp
temp
*.tmp
*.temp

# Build directories
dist
build

# IDE specific files
.vscode
.idea

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
