spacy
transformers
torch
tokenizers
boto3
moto
pydantic
pytest
Flask==2.0.3
werkzeug==2.0.3

# en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
